@font-face {
    font-family: 'Hanged Letters';
    src: local('HangedLetters'), url(./components/fonts/HangedLetters.ttf) format('truetype');
}

.brandfont {
    font-family: Hanged Letters;
}

.jumbotron {
    background-color: #343a40!important;
}