@font-face {
    font-family: 'Hanged Letters';
    src: local('HangedLetters'), url(./components/fonts/HangedLetters.ttf) format('truetype');
}

.brandfont {
    font-family: Hanged Letters;
}

.jumbotron {
    background-color: #343a40!important;
}

{/*Component Error404*/}
.error404 {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    color: black;
}

.darthVader {
    max-width: 150px;
    height: auto;
    object-fit: cover;
}