@font-face {
    font-family: 'Hanged Letters';
    src: local('HangedLetters'), url(./components/fonts/HangedLetters.ttf) format('truetype');
}


.navbar {
    background-color: #102E39 !important;
    color: #B6DDDA !important;
    text-decoration: none !important;
}

{/*Font of the logo*/}
.brandfont {
    font-family: 'Hanged Letters', sans-serif;
}

{/*Search Bar*/}
form.formOfSearchBar {
    height: 24px !important;
}

{/*New class for padding right, because in bootstrap don't exists*/}
.pr-6 {
    padding-right: 5rem !important;
}

{/*Search bar without box-shadow*/}
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
[type=text].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
}

{/*Search Button*/}
.searchBtn {
    left: 99.5% !important;
    top: 5px !important;
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
    background-color: transparent !important;
    outline: none !important;
}

.searchBtn:focus {
    margin: 0;
    padding: 0;
}
@media (max-width: 575px) {
    .searchBtn {
        left: 96%;
    }
}

{/*Clear Button on Search Bar*/}
.clearBtn {
    position: relative;
    bottom: 38px;
    color: #1b4757;
    font-weight: 700;
    font-size: 20px;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: font-size 0.5s ease;
    background-color: transparent;
}

@media screen and (min-width: 0) and (max-width: 441px) {
    .clearBtn {
        left: 77%;
    }

    .pr-6 {
        padding-right: 4rem !important;
    }
}

{/*xs*/}
@media screen and (min-width: 442px ) and (max-width: 575px) {
    .clearBtn {
        left: 82%;
    }

    .pr-6 {
        padding-right: 4rem !important;
    }
}
{/*sm*/}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .clearBtn {
        left: 83%;
    }
    .pr-6 {
        padding-right: 4rem !important;
    }
}

{/*md*/}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .clearBtn {
        left: 85%;
    }
    .pr-6 {
        padding-right: 4rem !important;
    }
}

{/*lg*/}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .clearBtn {
        left: 79%;
    }
}

{/*xl*/}
@media screen and (min-width: 1200px) {
    .clearBtn {
        left: 79.5%;
    }
    .pr-6 {
        padding-right: 4rem !important;
    }
}

.closeBtn:hover {
    color: #008576;
    font-size: 21px;
}

.closeBtn:focus {
    outline: none;
}

{/*Component Error404*/}
.error404 {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    color: black;
}

.darthVader {
    max-width: 150px;
    height: auto;
    object-fit: cover;
}

{/*Home Jumbotron*/}

.jumbotron {
    background-color: #008576!important;
}

@media screen and (min-width: 0) and (max-width: 575px) {
    .jumbotron {
        padding: 3rem 1rem 2rem !important;
    }
}

{/*Home Card*/}
.cardHome {
    background-color: #B6DDDA !important;
    height: 420px;
    width: 250px;
}

.cardImage {
    width: 128px;
    height: 164px;
    margin: 10px 0 10px 0;
}

{/*btnCard is on BookCard and BookInfoPage*/}
.btnCard {
    background-color: #102E39 !important;
    border-color: #102E39 !important;
    color: #B6DDDA !important;
}

.btnCard:hover {
    background-color: #1b4757 !important;
    border-color: #1b4757 !important;
}

.card-header {
    background-color: #102E39 !important;
}

.card-body {
    padding: 0 10px 10px 10px !important;
}

.section1 {
    height: 50px;
    width: auto;
}

.section2 {
    height: 50px;
    width: auto;
}

h5.color, .card-header.color {
    color: #B6DDDA !important;
}

p.color {
    color: #1b4757 !important;
}

{/*Info Page*/}
.table {
    background-color: #008576 !important;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #102E39 !important;
    color: #B6DDDA !important;
}
.infoBG {
    background-color: #B6DDDA !important;
}

.title {
    display: flex;
    flex-direction: row;
}

.object {
    flex: 0 0;
    z-index: 2;
}

.objectLink {
    flex: auto;
    margin-left: -32px;
}

{/*Credits*/}
.linkCrediti {
    color: #B6DDDA !important;
}

.crediti {
    color: #102E39 !important;
}

{/*Background of the button on InfoPage.js*/}
.colorb{
    background-color: #008576 !important;
}
